#nav-location-icon{
    width: 20px;
    filter: invert();
}

#nav-search-icon{
    width: 15px;
    height: 15px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    flex-shrink: 0;
}

.nav-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    height: 72px;
    box-sizing: border-box;
}

.left-nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#location-text{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
}

#location-text p{
    margin-top: 0;
    color: rgb(208, 204, 204);
}

.right-nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.search-bar{
    background-color: aliceblue;
    border-radius: 14px;
    border: none;
    padding: 8px 12px;
    color: black;
    outline: none;
    width: 180px;
}

.search-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.search-input-section{
    display: flex;
    flex-direction: column;
    position: relative;
}

.suggestion-list{
    position: absolute;
    top: 100%; /* goes directly below search input field */
    left: 0;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 6px 0;
    margin-top: 6px;
    list-style: none; /* strips unstyled browser list bullets */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.55);
    z-index: 9999; /* so that dropdown is on not behind screen 1 and 4 */
}

.suggestion-item{
    padding: 10px 16px;
    font-size: 13px;
    cursor: pointer;
    text-align: left;
    color: black;
}

.suggestion-item:hover{
    color: cadetblue;
}

.theme-toggle-btn{
    background-color: aliceblue;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 50px;
}

#light-mode-icon, #dark-mode-icon{
    width: 20px;
}