@import './components/NavBar/Navbar.css';
@import './components/Container-Left/WeatherInfo.css';


body{
    background-color: rgb(85, 137, 147);
    font-family: sans-serif;
}

html, body{
    height: 100%;
    overflow: hidden;
    margin: 0;
}
